.members {
  margin-left: 80px;
}
#card {
  width: 300px !important;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 6px;
}

.checked,
.toogle {
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 50px;
  outline: none;
  z-index: 10;
}

.checked {
  opacity: 0;
}

.toogle {
  border-radius: 50%;
  pointer-events: none;
  line-height: 50px;
  transition: 0.5s;
  background: #fff;
  text-align: center;
  font-size: 36px;
  box-shadow: 0 0 0 #123c69;
}

input:checked ~ .toogle {
  box-shadow: 0 0 0 320px #123c69;
  transform: rotate(225deg);
}

.descp {
  color: #eee2dc !important;
  font-size: 20px;
  padding: 8px;
  font-family: "Times New Roman";
  font-weight: 300;
  margin-left: 10px;
}
.name {
  color: #eee2dc !important;
  font-size: 20px;
  font-family: "Times New Roman";
  padding: 8px;
  font-weight: 300;
  color: darkblue;

  margin-left: 10px;
}

.details {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  font-family: "Roboto Slab", serif;
  align-items: center;
  justify-content: center;
  margin-top: 105px;
  opacity: 0;
}

input:checked ~ .details {
  opacity: 1;
  transition-delay: 0.5s;
}
#card .imgbox img {
  width: 300px;
  object-fit: cover;
  height: 300px;
  border: 2px solid black;

  position: absolute;

  object-fit: cover;
}

.events {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  color: #fff;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 1000px) {
  #card {
    margin-left: -30px !important;
  }
}
