.team__member {
  margin-top: 1rem;
}
.members__box {
  cursor: grab;
  border-radius: 3rem;
}
.members__box__wrap:hover .members__box {
  transform: scale(1);
  box-shadow: none;
}
.members__box__wrap:hover .members__box:hover {
  transform: scale(0.99);
  opacity: 1;
  box-shadow: 1px 12px 30px 0 rgba(69, 29, 215, 0.9);
}
