.team__member {
  margin-top: 5rem;
}
.members__box {
  cursor: pointer;
  border-radius: 2.5rem;
}
.members__box__wrap:hover .members__box {
  transform: scale(1);
  box-shadow: none;
}
.members__box__wrap:hover .members__box:hover {
  transform: scale(0.99);
  opacity: 1;
  box-shadow: 0 10px 26px 0px rgba(0, 123, 255, 0.5);
}
