@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  transition: 0.15s all ease-out;
  font-family: "Montserrat", sans-serif !important;
}
.outer {
  padding: 3% 4%;
  border-radius: 6rem;
  margin-top: 4%;
  margin-bottom: 5%;
  background-image: linear-gradient(
    to right,
    rgba(69, 42, 247, 0.2),
    rgba(127, 76, 245, 0.1)
  );
}
.outer:hover {
  box-shadow: 0 12px 28px 0 #690786;
}
h1 {
  color: #000;
}
h2.membersName {
  font-size: 15px !important;
}
