@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  transition: 0.2s all ease-out;
}
.outer {
  border: 1px solid black;
  padding: 3% 4%;
  border-radius: 6rem;
  margin-top: 4%;
  margin-bottom: 5%;
}
.outer:hover {
  box-shadow: 6px 6px 18px #888888;
}
h1 {
  color: #000;
}
h2.membersName {
  font-family: "Montserrat", sans-serif;
  font-size: 15px !important;
}
