*::selection {
  background: rgb(248, 253, 255);
  color: #3644ff;
}
.footer__outer {
  background: rgba(0, 27, 52, 0.95);
  padding: 2% 5%;
}
.chess__logo {
  object-fit: cover;
}
.footer__para {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}
.footer__heading {
  color: #fff !important;
  font-weight: bold;
}
.footer__mail {
  color: inherit;
}
input.footer__subscribe {
  background-color: #fff !important;
  border: 1px solid #39393e !important;
}
.footer__signUp {
  background-color: rgb(0, 98, 203) !important;
  font-size: 3rem !important;
  border: none !important;
  color: white;
}
.footer__signUp:hover {
  font-size: 3rem !important;
  background-color: #fff !important;
  color: rgb(0, 98, 203) !important;
  border: 0.1px solid rgb(1, 32, 65) !important;
}
.footer__under__para {
  color: inherit;
  margin-top: 6%;
}
a.socialLink__a {
  font-size: 2.5rem;
}
a.socialLink__a:hover {
  cursor: pointer;
  font-size: 2.8rem;
}
.socialLink__a_quickLinks {
  font-size: 1.8rem;
}
.socialLink__a_quickLinks:hover {
  cursor: pointer;
  color: #fff !important;
}
.footer__heading_upper {
  padding: 1.5% 8%;
}
p.footer__heading_rights {
  font-weight: normal;
  color: #fff;
}
@media only screen and (max-width: 575px) {
  .footer__outer {
    text-align: center;
  }
  .text-left {
    text-align: center !important;
  }
}
