@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: #0852c2e7;
  border-radius: 0.75rem;
}
hr {
  border: 0.5px solid #0b55a4;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}
.nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.container__header {
  margin: 8rem 1rem 1rem 1rem;
}
.heading__header1 {
  padding: 0 0 0.5rem 0.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #0b55a4;
}
.heading__header2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #2a87eb;
}
.user__group {
  display: block;
  height: 82px;
}
.main__navs {
  padding-left: 7rem;
  padding-bottom: 0.1rem !important;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
}

.nav-link {
  padding: 28px 10px !important;
}
.header__navbar {
  height: 7.5rem;
  background-color: #0a72d1;
}
.dropDown__link {
  font-size: 2rem;
  color: #0b55a4 !important;
}
.extraSpace {
  height: 6rem;
}
.nav_custom {
  height: auto;
  border-radius: 0;
  background-color: rgb(52, 34, 181) !important;
  color: rgb(205, 228, 255);
}
@media only screen and (max-width: 970px) {
  .container__header {
    margin-top: 10rem;
  }
  .heading__header1 {
    font-size: 2rem;
  }
  .heading__header2 {
    font-size: 1rem;
  }
  #poster {
    margin-top: 9.5rem;
  }
}
@media only screen and (max-width: 650px) {
  #win {
    height: 50% !important;
  }
}
@media only screen and (max-width: 767px) {
  .nav__link {
    font-size: 12px;
  }
  .header__navbar {
    height: 9rem;
  }
  .dropDown__link {
    font-weight: bold;
    font-size: 1.6rem;
    background-color: #79b9fd !important;
  }
}
@media only screen and (max-width: 494px) {
  .container__header {
    display: none;
  }
}
